export GCLOUD_RW_API_KEY=

export APP_ENV=dev
export APP_HOST=host.docker.internal:4000

export GRAFANA_LOKI_URL=
export GRAFANA_LOKI_USERNAME=

export GRAFANA_OTLP_ENDPOINT=
export GRAFANA_OTLP_USERNAME=

export GRAFANA_PROMETHEUS_URL=
export GRAFANA_PROMETHEUS_USERNAME=

export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=
